<component name="libraryTable">
  <library name="app">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/Mobile App/build/intermediates/exploded-aar/uk.me.lewisdeane.ldialogs/app/res" />
      <root url="jar://$PROJECT_DIR$/Mobile App/build/intermediates/exploded-aar/uk.me.lewisdeane.ldialogs/app/classes.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>