<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andrewq.planets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/planets_banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Roboto"
        tools:ignore="UnusedAttribute">

        <!-- Main Activity  -->
        <activity
            android:name=".NavDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@style/AppThemeNavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="Planets">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="home" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tv.TvActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_quantum"
            android:screenOrientation="landscape"
            android:theme="@style/TV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tv.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".tv.TvActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tv.TvActivity" />
        </activity>

        <activity
            android:name=".misc.Settings"
            android:label="@string/action_settings"
            android:parentActivityName=".NavDrawerActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.ImageGallery" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".moons.MoonActivity"
            android:label="Moon"
            android:parentActivityName=".NavDrawerActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ImageGallery" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


            <intent-filter android:label="The Moon">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="the_moon" />
            </intent-filter>
        </activity>

        <activity
            android:name=".moons.PhobosActivity"
            android:label="Phobos"
            android:parentActivityName=".NavDrawerActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ImageGallery" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="Phobos">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="phobos" />
            </intent-filter>
        </activity>

        <activity
            android:name=".image_views.PhobosImageView"
            android:label="Phobos"
            android:parentActivityName=".moons.PhobosActivity" />

        <activity
            android:name=".moons.EuropaActivity"
            android:label="Europa"
            android:parentActivityName=".NavDrawerActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ImageGallery" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="Europa">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="europa" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.EuropaImageView"
            android:label="Phobos"
            android:parentActivityName=".moons.EuropaActivity" />

        <activity
            android:name=".moons.DeimosActivity"
            android:label="Deimos"
            android:parentActivityName=".NavDrawerActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ImageGallery" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="Deimos">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="deimos" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.DeimosImageView"
            android:label="Phobos"
            android:parentActivityName=".moons.DeimosActivity" />

        <activity
            android:name=".image_views.MoonImageView"
            android:label="Moon"
            android:parentActivityName=".moons.MoonActivity" />

        <activity
            android:name=".image_views.SunImageView"
            android:label="Sun"
            android:parentActivityName=".stars.SunActivity" />

        <activity
            android:name=".stars.SunActivity"
            android:label="Sun"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="The Sun">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="the_sun" />
            </intent-filter>
        </activity>

        <activity
            android:name=".image_views.MercuryImageView"
            android:label="Mercury"
            android:parentActivityName=".planets.MercuryActivity" />

        <activity
            android:name=".planets.MercuryActivity"
            android:label="Mercury"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Mercury">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="mercury" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.VenusImageView"
            android:label="Venus"
            android:parentActivityName=".planets.VenusActivity" />

        <activity
            android:name=".planets.VenusActivity"
            android:label="Venus"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Venus">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="venus" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.EarthImageView"
            android:label="Earth"
            android:parentActivityName=".planets.EarthActivity" />

        <activity
            android:name=".planets.EarthActivity"
            android:label="Earth"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Earth">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="earth" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.MarsImageView"
            android:label="Mars"
            android:parentActivityName=".planets.MarsActivity" />

        <activity
            android:name=".planets.MarsActivity"
            android:label="Mars"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Mars">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="mars" />
            </intent-filter>

        </activity>

        <activity
            android:name=".planets.JupiterActivity"
            android:label="Jupiter"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Jupiter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="jupiter" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.JupiterImageView"
            android:label="Jupiter"
            android:parentActivityName=".planets.JupiterActivity" />

        <activity
            android:name=".planets.SaturnActivity"
            android:label="Saturn"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Saturn">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="saturn" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.SaturnImageView"
            android:label="Saturn"
            android:parentActivityName=".planets.SaturnActivity" />

        <activity
            android:name=".planets.UranusActivity"
            android:label="Uranus"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Uranus">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="uranus" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.UranusImageView"
            android:label="Uranus"
            android:parentActivityName=".planets.UranusActivity" />

        <activity
            android:name=".planets.NeptuneActivity"
            android:label="Neptune"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Neptune">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="neptune" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.NeptuneImageView"
            android:label="Neptune"
            android:parentActivityName=".planets.NeptuneActivity" />

        <activity
            android:name=".other_bodies.PlutoActivity"
            android:label="Pluto"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter android:label="Pluto">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos" -->
                <data
                    android:scheme="planets"
                    android:host="pluto" />
            </intent-filter>

        </activity>

        <activity
            android:name=".image_views.PlutoImageView"
            android:label="Pluto"
            android:parentActivityName=".other_bodies.PlutoActivity" />

        <activity
            android:name=".tv.DetailsActivity"
            android:label="Details"
            android:parentActivityName=".tv.TvActivity"
            android:theme="@style/Theme.Leanback" />

        <activity
            android:name=".tv.PlayerActivity"
            android:label="Player"
            android:parentActivityName=".tv.TvActivity"
            android:theme="@style/Theme.Leanback" />

        <activity
            android:name=".contributors.Contributors"
            android:label="@string/title_activity_contributers"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".misc.Settings" />

        <activity
            android:name=".licenses.Licenses"
            android:label="@string/title_activity_licenses"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:parentActivityName=".misc.Settings" />

    </application>

</manifest>
